{erl_opts, [debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {uart,  {git, "https://github.com/tonyrog/uart.git",       {branch, "master"}}}
]}.
% {pre_hooks, [
%     {compile, "bash -c 'cd $REBAR_DEPS_DIR/uart && echo \"WARNING: Workaround for building a driver in `pwd`.\" && rebar get-deps && env CC_OPTS=-Wno-deprecated-declarations rebar compile'"}
% ]}.
{overrides, [
    {override, dthread, [
        {artifacts, ["priv/dthread_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]},
    {override, uart, [
        {artifacts, ["priv/uart_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]},
        {port_env, [
            {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I_build/default/lib -I../"}
        ]}
    ]}
]}.
