{erl_opts, [debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {uart,  {git, "https://github.com/tonyrog/uart.git",       {branch, "master"}}}
]}.
{post_hooks, [
    {compile, "bash -c 'cd $REBAR_DEPS_DIR/uart && echo \"WARNING: Workaround for building a driver in `pwd`.\" && rebar get-deps && env CC_OPTS=-Wno-deprecated-declarations rebar compile'"}
]}.
