{relx, [
    {release, {firefork_stepper, "0.0.0"},
        [
            firefork_stepper
        ], [
            {sys_config, "rel/firefork_stepper.sys.config"}
        ]
    },
    {release, {firefork_station, "0.0.0"}, [
        firefork_station
    ]},
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
]}.
{overrides, [
    {override, dthread, [
        {artifacts, ["priv/dthread_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]},
    {override, uart, [
        {artifacts, ["priv/uart_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]},
        {port_env, [
            {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I_build/default/lib -I../"}
        ]}
    ]},
    {override, gpio, [
        {artifacts, ["priv/gpio_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]}
]}.
