{erl_opts, [debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {gpio,  {git, "https://github.com/tonyrog/gpio.git",       {branch, "master"}}},
    firefork_radio
]}.
% {pre_hooks, [
%     {compile, "bash -c 'cd $REBAR_DEPS_DIR/gpio && echo \"WARNING: Workaround for building a driver in `pwd`.\" && rebar get-deps && rebar compile'"}
% ]}.
{overrides, [
    {override, gpio, [
        {artifacts, ["priv/gpio_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]}
]}.
