{erl_opts, [debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {gpio,  {git, "https://github.com/tonyrog/gpio.git",       {branch, "master"}}},
    firefork_radio
]}.
{post_hooks, [
    {compile, "bash -c 'echo \"WARNING: Workaround for building a driver.\"; cd _build/default/lib/gpio && rebar get-deps && rebar compile'"}
]}.
