[
    {firefork_audio_player, [
        {player, firefork_audio_player_mplayer}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [
                {file, "logs/eunit_lager.log"},
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " ", color, "[", severity, "]\t",
                    {proc, ["<", proc, "> "], ""},
                    {pid, ""},
                    {module, [
                        {pid, ["@"], ""},
                        module,
                        {line, [":",line], ""}
                    ], ""},
                    "\t", message, "\n"
                ]}
            ]}
        ]},
        {error_logger_redirect, true},
        {crash_log, "logs/crash.log"}
    ]}
].
